
run = "streamlit run main.py --server.port=5000 --server.address=0.0.0.0"
modules = ["python-3.11:v3-20230826-0f37faca"]

hidden = [".config", "**/__pycache__", "**/.pytest_cache"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run main.py --server.port 5000 --server.address 0.0.0.0"]
deploymentTarget = "cloudrun"

[languages]
python = "3.11"

[languages.python]
pattern = "**/*.py"

[languages.python.languageServer]
start = "pylsp"

[[ports]]
localPort = 5000
externalPort = 80
